.error-message {
    color : #ed2553;
}

.success-message {
    color: #3D9970;
}


.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}