.error-message {
    color : #ed2553;
}

.success-message {
    color: #3D9970;
}


.slider ul{
    list-style: none;
}

.slider li{
    display: none;
}

.slider .visible{
    display: inline-block;
}




.tooltip {
    text-decoration: underline;
    color: darkblue;
    position: relative;
    display: inline-block;
}

.tooltipText {
    position: absolute;
    top: 100%;
    display: block;
    background-color: white;
    color: black;
    border: solid black 1px;
    z-index: 1;
}
